name: "CD"

on:
  pull_request:
    branches: [ main ]
    types:
      - closed
  push:
    branches: [ main ]

jobs:
  mvn-publish:
    uses: derBobby/java-pipelines/.github/workflows/callable-mvn.yml@main
    with:
      mvn-stage: deploy
  codeql:
    needs: mvn-publish
    uses: derBobby/java-pipelines/.github/workflows/callable-codeql.yml@main
#TODO deploy only if java code changed